*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(10, 27, 94, 0.7),rgba(4,9,30,0.7)),url(code.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {

    display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items:center;
}
nav img{
    width:150px;

}
.nav-links{
    flex:1;
    text-align: right;

}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a {
    color:rgba(14, 244, 251, 0.931);
    text-decoration:none;
    font-size: 18px;
}
.nav-links ul li::after{
    content:'';
    width: 0px;
    height: 2px;
    background: #fa1606;
    display:block;
    margin:auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
width: 90%;
color: rgba(250, 246, 250, 0.842);
position: absolute;
top: 50%;
left: 50%;
transform:translate(-53%,-50%);
text-align:center;

}
.text-box h1 {
    font-size: 40px;
    color:rgba(203, 211, 210, 0.918)
}
.text-box p {
    margin: 12px 0 38px;
    font-size:15px;
    color: #e2fa0c;
}
.hero-btn{

display: inline-block;
text-decoration: none;
color: rgb(13, 223, 195);
border: 1px solid rgb(54, 22, 233);
padding: 12px 34px;
font-size: 15px;
background :#4003e9ec;
position: relative;
cursor: pointer;

}
.hero-btn:hover{
    border: 1px solid #8307e7;
    background: #d15005;
    transition: 1s;
}
.explore{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image:linear-gradient(rgba(16, 42, 148, 0.7),rgba(13, 42, 156, 0.7))url(oooo.jpeg);
background-size:cover;

    
}
h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding: 8px , 12px;
    background-color: rgb(25, 27, 26);
       
}
p{
    color: #d1f533;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 2px,1px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.explore-col{
    flex-basis: 42%;
    background: hsla(224, 84%, 45%, 0.959);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    color:white;
    margin: 10px 0;
}
p{
    color:#d1f533
}
.explore-col:hover{
    box-shadow: 0 0 80px 0px rgba(235, 3, 138, 0.966);
}

.circle{
    width:200x;
    height:100px;
}
.backimage{
    background-image: url(back2.jpg);
   

}
.moreinfo{
    background-image: url(back3.jpg);
}
  


    
